.input-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

input {
  border: 2px black solid;
  padding: 10px;
  border-radius: 5px;
}

.filterBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50;
  color: white;

}

.task-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;

}

ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}